# Ignore OS and editor files
.DS_Store
Thumbs.db

# Node
node_modules/
**/node_modules/
dist/
**/dist/
coverage/
**/coverage/

# Python
.env
venv/
**/.venv/
__pycache__/
**/__pycache__/
*.pyc

# Rust
**/target/

# IDE
.idea/
.vscode/
